<body>

    <div class="container">

        <h1 style="color:black">You have successfully Logged out, Thank You ! </h1>

        <a style="color:black">This page was made with ❤️ by Ravi</a>

        <style>
            body {
              background-image: url('https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWVzdGhldGljJTIwYm9va3N8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>

        <footer><button style="background-color:rgb(202, 217, 210)" type="button" (click)="home()">Home</button>
    <button><a href="mailto:kumar.rvk29@gmail.com?subject=Hello%20others"><b style="color: black">Reach Me</b></a></button></footer>
    </div>

          
</body>
