<body>




    <!-- ====================Header============================ -->
  
  
  
  
    <div class="header">
  
      <div class="logo">E-Library</div>
  
      <div class="user">
  
        <mat-icon value="logout" (click)="logout()">logout</mat-icon>
  
      </div>
  
    </div>
  
  
  
  
  
    <!-- ======================Sidenav================================================ -->
  
  
  
  
  
    <div class="main-container">
  
      <div class="side-nav">
  
        <div class="nav-items">
  
          <div class="nav-item" value="submit" (click)="submit()">
  
  
  
  
            <span>Dashboard</span>
  
          </div>
  
          <div class="nav-item" value="submit" (click)="book()">
  
  
  
  
            <span>Surf e-books</span>
  
          </div>
  
          <div class="nav-item" value="submit" (click)="quiz()">
  
  
  
  
            <span>Take Quiz</span>
  
          </div>
  
  
  
  
        </div>
  
      </div>
  
  
  
  
  
      <!-- ======================= Main Container ========================= -->
  
  
  
  
      <div class="main">
  
        <div class="card">
  
          <div class="card-body">
  
            <h5 class="card-title" style="text-align: center;">Harry Potter & the half blood prince (Preview)</h5>
  
  
  
  
  
            <div class="grid-container">
  
              <div class="item2">
  
                <span>Author : J. K. Rowling<br>
  
                  Category : Novel<br>
  
                  Publisher : Potter More<br>
  
                  Date Published : June 26, 1997<br>
  
                  Points :200</span>
  
              </div>
  
              <div class="item3">
  
                <p>Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The
  
                  novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron
  
                  Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc
  
                  concerns Harry's struggle against Lord Voldemort, a dark wizard who intends to become immortal,
  
                  overthrow the wizard governing body known as the Ministry of Magic and subjugate all wizards and
  
                  Muggles (non-magical people).</p>
  
  
  
  
                <a href="readmore()" class="link-primary" style="font-size: small;">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;
  
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
  
  
  
  
  
                <a mat-raised-button (click)="openDialog()" style="color: blue; font-size: small;">Recommend to a
  
                  Colleague</a>
  
  
  
  
              </div>
  
              <div class="item4">
  
                <img src="https://m.media-amazon.com/images/M/MV5BNzU3NDg4NTAyNV5BMl5BanBnXkFtZTcwOTg2ODg1Mg@@._V1_.jpg" style="width:30%" alt="image">
  
              </div>
  
            </div>
  
          </div>
  
  
  
  
        </div>
  
  
  
  
      </div>
  
  
  
  
      <!-- ================================================================ -->
  
    </div>
  
  </body>
