<body>




    <!-- ====================Header============================ -->




    <div class="header">

        <div class="logo">E-Library</div>

        <div class="user">

            <mat-icon value="logout" (click)="logout()">logout</mat-icon>

        </div>

    </div>





    <!-- ======================Sidenav================================================ -->





    <div class="main-container">

        <div class="side-nav">

            <div class="nav-items">

                <div class="nav-item" value="submit" (click)="submit()">




                    <span>Dashboard</span>

                </div>

                <div class="nav-item" value="submit" (click)="book()">




                    <span>Surf e-books</span>

                </div>

                <div class="nav-item" value="submit" (click)="quiz()">




                    <span>Take Quiz</span>

                </div>




            </div>

        </div>





        <!-- ======================= Main Container ========================= -->




        <div class="main">

            <div class="card">

                <div class="card-body">

                    <h5 class="card-title" style="text-align: center;">Harry Potter & the half blood prince (Preview)

                    </h5>




                    <div class="grid-container">

                        <div class="item2">

                            <span>Author : J. K. Rowling<br>

                                Category : Novel<br>

                                Publisher : Potter More<br>

                                Date Published : June 26, 1997<br>

                                Points :200</span>

                        </div>

                        <div class="item3">

                            <p>Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling.

                                The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione

                                Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. The

                                main story arc concerns Harry's struggle against Lord Voldemort, a dark wizard who intends to become

                                immortal, overthrow the wizard governing body known as the Ministry of Magic and subjugate all

                                wizards and Muggles.</p>

                        </div>


                        <div class="item4">

                            <img src="https://m.media-amazon.com/images/M/MV5BNzU3NDg4NTAyNV5BMl5BanBnXkFtZTcwOTg2ODg1Mg@@._V1_.jpg" style="width:30%" alt="image">

                        </div>

                    </div>

                </div>




                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;





                <div class="card">

                    <div class="card-body">

                        <h5 class="card-title" style="text-align: center;">Harry Potter & the half blood prince (Plot)

                        </h5>

                        <p class="card-text">The central character in the series is Harry Potter, a boy who lives in the

                            fictional town of Little Whinging, Surrey with his aunt, uncle, and cousin-the Dursleys- and

                            discovers at the age of eleven that he is a wizard, though he lives in the ordinary world of

                            non-magical people known as Muggles The wizarding world exists parallel to the Muggle world,

                            albeit hidden and in secrecy. His magical ability is inborn, and children with such

                            abilities

                            are invited to attend exclusive magic schools that teach the necessary skills to succeed in

                            the

                            wizarding world




                            Harry becomes a student at Hogwarts School of Witchcraft and Wizardry, a wizarding academy

                            in

                            Scotland, and it is here where most of the events in the series take




                            place. As Harry develops through his adolescence, he learns to overcome the problems that

                            face

                            him: magical, social, and emotional, including ordinary teenage




                            challenges such as friendships, infatuation, romantic relationships, schoolwork and exams,

                            anxiety, depression, stress, and the greater test of preparing himself for the confrontation

                            that lies ahead in wizarding Britain's increasingly-violent second wizarding war </p>

                            <a href="https://en.wikipedia.org/wiki/Harry_Potter_and_the_Half-Blood_Prince_(film)" class="btn btn-primary">Continue</a>

                    </div>

                </div>

            </div>




            <!-- ================================================================ -->




        </div>

    </div>

</body>
